<h1>We Love FootBall</h1>

<table class="table table-hover">
  <thead>
    <tr>
    <th>Name</th>
    <th>Picture</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <%= @user.name %>
      </td>

      <td>
        <%= attachment_image_tag @user, :profile_image_id, :fill, 100, 100, format: 'jpeg',fallback: "no_image.jpg" %>
      </td>

      <td>
        <%= link_to "Édit", "#" %>
      </td>
    </tr>
</tbody>
</table>