<div class="cover-all">
<div class="message-container">
  <div class="cover-middle">
    <div class="header-message">
      <h2>Do you like FootBall ?</h2>
      <%= image_tag 'adidas.jpg', class: 'header-picture' %>
    </div>
  </div>
</div>
</div>