// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-message{
  text-align: center;
}

.header-picture{
  width: 60%;
  height: 350px;
  opacity: 0.6;
}

.player-picture {
  width: 30%;
  height: 30%;
}

.team-picture {
  width: 55%;
  height: 250px;
}

.memory-picture {
  width: 60%;
  height: 350px;
}

.header-word {
  padding: 20px 0;
}

