<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Picture</th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
  <tr>
  <td>
    <%= attachment_image_tag @post_image, :image, :fill, 100, 100, format: 'jpeg' %>
  </td>

  <td>
    <%= @post_image.user.name %>
  </td>

  </tr>
  </tbody>
</table>